/* General */

*{
	box-sizing: border-box;
	font-family: arial, tahoma, verdana, sans-serif;
}

#menu {
	width: 980px;
	margin: 100px auto 0px auto;
}

/* Navigation */

nav ul {
  display: inline-block;
  padding: 0;
}

nav ul li {
	display: block;
  position: relative;
  float: left;
	background-color: #00b200;
	border: solid #fff;
	border-width: 0 1px 0 0;
  width: 190px; /* 980px : 5 */
	height: 30px;
	border-radius: 5px;
}

nav ul li a {
	display: block;
	text-align: center;
	padding: 3px 0 0 0;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
	height: 30px;
}

a:hover, a:focus, a:active {
  color: #7e7e7e;
}

/* Sub-navigation */

nav ul li ul {
  position: absolute;
	display: none;
}

nav ul li ul li {
	display: block;
	background-color: #cc0000;
	height: 24px;
	border: solid #fff;
	border-width: 1px 1px 0 0;

}

nav ul li ul li a {
  padding: 3px 0 0 0;
  font-size: 0.9em;
}

/* Third level-navigation */

nav ul li ul li ul {
  position: absolute;
	display: none;
	left: 196px;
	top: 0;
}

nav ul li ul li ul li {
	display: block;
	height: 24px;
	background-color: #0000ff;
	border: solid #fff;
	border-width: 0 0 1px 0;
}
